@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&display=swap');

@media(max-width:768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: white;
    height: 200vh;
  }
  
  #navbaratas {
    position: fixed;
    background-color: black;
    height: 60px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 30px;
    
  }
  
  #wadahnm {
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .notif,
  .message {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }
  
  .navbaratas {
    background-color: transparent;
    height: 60px;
    width: 60px;
  }
  
  /* AKHIR STYLE NAVBAR ATAS */
  
  
  /* AWAL STYLE NAVBAR BAWAH */
  #navbarbawah {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .fotoicon {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: white;
  }
  
  
  /* AKHIR STYLE NAVBAR BAWAH */
  
  
  /* STYLE STORY */
  #tombolplus {
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    right: -55px;
    top: 57px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .plus {
    height: 25px;
    width: 25;
  }
  
  .wadahstory {
    overflow-x: auto;
    white-space: nowrap;
    height: 150px;
    width: 100%;
  }
  
  .isistory {
    height: 150px;
    width: 1000px;
    display: flex;
    align-items: center;
  }
  
  .wadahfotodanteks {
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
  }
  
  .bg1story {
    background-image: linear-gradient(to right, #ffc100, red, purple);
    height: 95px;
    width: 95px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bg2story {
    background-color: black;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fotostory {
    background-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  
  
  .fotostorysaya {
    background-color: white;
    border-radius: 50%;
    margin: 7px 0;
    height: 80px;
    width: 80px;
  }
  
  .teks {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 5px;
    height: 30px;
    width: 100%;
  }
  
  /*   AKHIR STYLE STORY */
  
  /* AWAL STYLE POSTINGAM */
  .wadahtekspostingan {
    height: 59px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;

  }
  
  .tekspostingan {
    color: white;
  }
  
  .close {
    height: 25px;
    width: 25px;
    color: white;
  }
  
  #wadahidentitas {
    background-color: white;
    height: 60px;
    width: 100%;
  }
  
  /* AKHIR STYLE POSTINGAM */
}